


ul.nav-items li {display: inline-block;
  font-family: 'comic_neuelight';
  font-size: 20px;
  padding-left:20px;
   padding-right:20px;

}


.jumbotron{
  background-image: url('../images/background/background3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
padding-bottom: -20;

}
h1{font-family:'kaushan_scriptregular';
}
p{font-family: 'comic_neuebold_italic';
font-size: 30px;
}

.row1{
color: inherit;
  text-align: center;
  font-family: 'comic_neueitalic';

}


.row1 h1{color: red;}


.order{  font-family: 'comic_neuelight_italic';
  background-attachment: fixed;
  background-image: url("../images/background/background4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 4%;
}
.order h1{color: white;}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;

}
td,th{
  font-size: 20px;
  color: white;
}
.choise h2{
  color:orange;
  text-align: left;
}
.controls-top h1{color: orange;}
#your-orders{
  color: white;
  font-size: 30px;
}
#information p{font-family: 'comic_neuelight_italic',serif;
font-size: 40px;
}

.choise{
  display: none;
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'caveatbold',serif;
}
.deliver{
  display: none;
}
.delivery{
  display: none;
  padding-left: 10%;
  padding-right: 10%;
}
.delivery{padding-top: 10px;}

figure img {
    height: 260px;
    width: 260px;}

    .card-body{
      background-image: url('../images/background/background4.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      color: blue;
      text-align: center;
      margin-top:30px;
    }
.email-info{align-items: center;}

      .card-footer {text-align: center;
      color: inherit;
    padding-top: 20px;}
