.navi{float: left;
  }


.jumbotron{
  background-image: url('../images/background/background3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
.row1{
  background-image: url('../images/background/background2.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
